.vscode/
bin/linux/save3ds_fuse
cstins/
testing-class.py

# macOS
.DS_Store
._*

# Python
venv/
**/__pycache__/
*.pyc

# JetBrains
.idea/
=======

*.pyc
/build/
/dist/
/custom-install-finalize.3dsx

boot9.bin
seeddb.bin

main.build
main.onefile-build
main.dist
Tulip3DS.app
Tulip3DS.build
Tulip3DS.dist
7zz
7zr.exe
unrar
UnRAR.exe
ci_qt.exe
7za.exe
Tulip3DS.exe
nuitka-crash-report.xml

test*